<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FittRaho | SignUp </title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/Content/styles.css" />-->
    <!-- Animation -->
    <!-- Font Awesome -->
    <!--Slider CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/slider.css">
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <style>
        .color {
            background-color: #93d783;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .btn {
            background: #63d934;
            background-image: -webkit-linear-gradient(top, #63d934, #b8632b);
            background-image: -moz-linear-gradient(top, #63d934, #b8632b);
            background-image: -ms-linear-gradient(top, #63d934, #b8632b);
            background-image: -o-linear-gradient(top, #63d934, #b8632b);
            background-image: linear-gradient(to bottom, #63d934, #b8632b);
            -webkit-border-radius: 11;
            -moz-border-radius: 11;
            text-shadow: 1px 1px 28px #666666;
            -webkit-box-shadow: 0px 1px 3px #d16bd1;
            -moz-box-shadow: 0px 1px 3px #d16bd1;
            box-shadow: 0px 1px 3px #d16bd1;
            color: #ffffff;
            text-decoration: none;
        }

            .btn:hover {
                background: #3cfa88;
                text-decoration: none;
            }
    </style>
    <!--<script type="text/javascript">
        $(document).ready(function () {
            $("#username").blur(function () {
                alert("ginh");
                var e = $("#username").val();
                var serviceURL = '/Home/setvalues';

                $.ajax({
                    type: "Post",
                    url: serviceURL,
                    data: { 'userName': e },
                    success: successFunc,
                    error: errorFunc
                });

                function successFunc(data) {
                    alert(data);
                    
                }
                function errorFunc(xhr, status, err) {
                    alert('error');
                }
                alert("Back");
            });
        });
    </script>-->
</head>
@model FittRaho.Models.User
<body>
    <br/><br /><br /><br />
    <h2 style="color:purple">Sign-Up Here !!</h2>
    <br />
    <div class="container">
        
        <div class="col-lg-2 ">
            <label>UserName</label>
            @Html.TextBox("username", null, new { id = "username", @class = "form-control" })<br />
            
            <label>Gender</label><br /><br/><br />
            <label>Password</label><br />
            @Html.Password("password", null, new { @class = "form-control" })<br />
            
            <input type="submit" value="SignUp" class="btn" />
        </div>
        <div class="col-lg-2 ">
            <label>Phone #</label>
            @Html.TextBox("phone", null, new { @class = "form-control" })<br/>
            @Html.RadioButton("gender", "Male") Male<br />
            @Html.RadioButton("gender", "Female") Female<br /><br />
            <label>Re-Enter Password</label><br />
            @Html.Password("passwor", null, new { id ="rePass",@class="form-control" })<br/>
        </div>
    </div>
    <br /><br /><br />
</body>
</html>

